html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

img {
  width: 100%;
  height: 100%; }

* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  text-align: center; }

.about, .projects, .skills, .contact, #footer {
  display: none; }

input:active, input:focus, textarea:focus, textarea:active {
  outline: none; }

/*=========================== */
.main {
  opacity: 0; }

.bar {
  position: sticky;
  height: 10vh;
  overflow: hidden;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  background: black;
  width: 100%;
  z-index: 100; }
  .bar_logo {
    font-size: 18px;
    margin-left: 5%;
    font-weight: bold;
    color: #fff; }
  .bar_hamburger {
    display: none;
    position: absolute;
    right: 20px; }
    .bar_hamburger:hover .bar_line {
      background: #fd7e14; }
  .bar_line {
    display: block;
    margin: 6px;
    width: 30px;
    height: 3px;
    background: #fff; }
  .bar_menu {
    position: absolute;
    right: 5%; }
  .bar_wrap {
    color: #fff;
    text-decoration: none;
    margin-left: 30px;
    font-size: 18px;
    font-style: italic;
    text-transform: uppercase;
    display: inline-block; }
    .bar_wrap:hover {
      color: #fd7e14;
      text-decoration: none;
      transform: scale(1.4);
      transition: 0.8s; }

.person {
  background: url("../images/comp.jpg") no-repeat center center/cover fixed;
  color: #fff;
  position: relative;
  height: 90vh; }
  .person_my {
    position: relative;
    z-index: 2;
    text-align: center; }
  .person_name {
    position: relative;
    top: 120px;
    font-size: 85px;
    font-weight: bold;
    padding-left: 40px;
    padding-right: 40px; }
  .person_job {
    position: relative;
    top: 150px;
    color: #fd7e14;
    font-size: 24px;
    letter-spacing: 2; }
  .person_cv {
    position: relative;
    top: 220px; }
  .person_button {
    position: relative;
    top: 220px;
    width: 200px;
    height: 50px;
    border-radius: 20px;
    background: #fff;
    border: none; }
    .person_button a {
      font-size: 30px;
      font-weight: bold;
      color: black; }
      .person_button a:hover {
        color: #fff;
        text-decoration: none; }
    .person_button:hover {
      background: #fd7e14; }
    .person_button:hover a {
      color: #fff; }
    .person_button:focus, .person_button:active {
      border: none !important;
      outline: none !important; }
  .person:after {
    content: "";
    height: 100%;
    width: 100%;
    background: black;
    opacity: 0.8;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1; }

.about_title {
  color: #fff;
  text-align: center;
  font-size: 50px;
  font-weight: bold;
  padding-top: 50px;
  margin-bottom: 60px;
  font-style: italic;
  color: black; }
.about_pack {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
.about_picture {
  max-width: 360px;
  margin-bottom: 40px; }
  .about_picture img {
    border-radius: 50%; }
.about_line {
  display: block;
  width: 100px;
  background: #fd7e14;
  height: 3px; }
.about_media {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px auto; }
.about_link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  text-decoration: none;
  position: relative;
  margin: 0 20px;
  color: #fff;
  border-radius: 5px; }
  .about_link i {
    font-size: 30px;
    transition: all 0.2s ease-in; }
  .about_link:hover {
    text-decoration: none;
    color: #fd7e14; }
  .about_link:hover:before {
    transform: scale(0); }
  .about_link:hover i {
    background: linear-gradient(135deg, #fd7e14, #fda45a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transform: scale(2); }
  .about_link:before {
    content: "";
    width: 60px;
    height: 60px;
    background: linear-gradient(135deg, #fd7e14, #fda45a);
    border-radius: 50%;
    position: absolute;
    z-index: -1;
    transition: all 0.2s ease-in; }
.about_paragraph {
  font-family: 'Roboto', sans-serif;
  font-size: 19px;
  text-align: left;
  margin-bottom: 40px;
  padding-top: 20px; }

.projects {
  background: #0E0E0E;
  padding-bottom: 100px; }
  .projects_title {
    color: #fff;
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    padding-top: 50px;
    margin-bottom: 60px;
    font-style: italic; }
  .projects_pack {
    position: relative;
    margin: 0 auto; }
    .projects_pack:hover .projects_layer {
      opacity: 0.9; }
  .projects_layer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background: black;
    opacity: 0;
    width: 100%;
    flex-direction: column;
    font-size: 30px;
    color: #fff;
    top: 0;
    bottom: 0;
    left: 0;
    -webkit-box-shadow: 0px 0px 41px 11px rgba(255, 255, 255, 0.75);
    -moz-box-shadow: 0px 0px 41px 11px rgba(255, 255, 255, 0.75);
    box-shadow: 0px 0px 41px 11px rgba(255, 255, 255, 0.75); }
  .projects_name {
    font-weight: 500;
    background: transparent;
    text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #fd7e14, 0 0 30px #fd7e14, 0 0 40px #fd7e14, 0 0 55px #fd7e14, 0 0 75px #fd7e14; }
  .projects_text {
    font-size: 12px; }
  .projects_code {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 15px auto;
    font-size: 20px;
    background: #fff;
    width: 120px;
    height: 40px;
    color: #0066CC; }
    .projects_code i {
      font-size: 30px;
      margin-right: 15px; }
  .projects_description {
    color: #fff;
    font-size: 20px; }

.skills_title {
  color: #fff;
  text-align: center;
  font-size: 50px;
  font-weight: bold;
  padding-top: 50px;
  margin-bottom: 60px;
  font-style: italic;
  color: black;
  padding-bottom: 50px; }
.skills h2 {
  margin-bottom: 40px;
  color: #fd7e14; }
.skills_skill {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  margin-top: 50px; }
.skills_pack {
  margin-left: 40px;
  margin-right: 40px; }
.skills_text {
  font-style: italic; }
.skills_icon {
  font-size: 70px;
  margin-bottom: 20px; }

.contact {
  background: url("../images/tlo.jpg") no-repeat center center/cover;
  position: relative;
  padding-top: 300px; }
  .contact:after {
    content: "";
    height: 100%;
    width: 100%;
    background: black;
    opacity: 0.4;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1; }
  .contact_title {
    color: #fff;
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    padding-top: 50px;
    margin-bottom: 60px;
    font-style: italic; }
  .contact_text {
    font-size: 25px;
    text-align: left;
    color: #fff;
    margin-left: 10%; }
  .contact_btn {
    border: none;
    font-weight: bold;
    border-radius: 5px;
    outline: none;
    width: 180px;
    height: 50px;
    margin-bottom: 80px;
    color: #fff;
    background: #fd7e14;
    margin-top: 15px;
    font-size: 22px; }
    .contact_btn:hover {
      transform: scale(1.2);
      transition: 0.5s; }
  .contact_pack {
    display: flex;
    justify-content: center;
    align-items: center; }
  .contact_media {
    border-radius: 50%;
    height: 60px;
    width: 60px;
    border: 2px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px; }
    .contact_media:hover {
      background: #fd7e14;
      transform: scale(1.2); }
  .contact_link {
    display: block;
    text-decoration: none;
    color: #fff; }
    .contact_link:hover {
      color: #fff; }
    .contact_link i {
      font-size: 28px; }
  .contact .col {
    z-index: 2; }
  .contact input {
    padding-left: 15px;
    height: 35px; }
  .contact input, .contact textarea {
    width: 80%;
    padding-left: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    text-align: left; }
  .contact textarea {
    min-height: 100px;
    padding-top: 5px; }

.end {
  width: 100%;
  background: black;
  color: #fff;
  display: block;
  font-size: 20px;
  text-align: center;
  z-index: 2;
  padding: 20px; }

/*==================== MEDIA =======================*/
@media (min-width: 768px) and (max-width: 992px) {
  .projects_name {
    font-size: 15px; }
  .projects_text {
    font-size: 10px; } }
@media (max-width: 800px) and (min-width: 550px) {
  .person_name {
    font-size: 70px; }
  .person_job {
    font-size: 22px; } }
@media only screen and (max-width: 768px) {
  .bar {
    overflow: visible; }
    .bar_hamburger {
      display: inline-block;
      cursor: pointer; }
    .bar_menu {
      width: 100%;
      right: 0;
      top: 10vh;
      overflow: hidden;
      max-height: 0;
      background: #2c2c2c;
      transition: all 0.2s ease-out; }
    .bar_wrap {
      display: block;
      text-align: center;
      padding: 10px;
      margin: 0;
      background: #2c2c2c;
      transition: 0.8s; }

  .show {
    max-height: 500px;
    transition: all 1s ease-in-out; }

  .projects .col-md-4 {
    margin-top: 40px; } }
@media (max-width: 600px) {
  .skills_icon {
    font-size: 40px; }
  .skills_pack {
    margin-left: 20px;
    margin-right: 20px; } }
@media (max-width: 550px) and (min-width: 400px) {
  .person_name {
    font-size: 55px; }
  .person_job {
    font-size: 20px; }
  .person_button {
    width: 160px; }

  .contact_link {
    font-size: 15px; }

  .end {
    font-size: 18px; } }
@media (max-width: 400px) {
  .person_name {
    font-size: 40px; }
  .person_job {
    font-size: 20px; }

  .contact_link {
    font-size: 14px; }

  .about_media_link {
    width: 40px;
    height: 40px; }
    .about_media_link:before {
      width: 50px;
      height: 50px; }

  .role {
    width: 48px;
    height: 48px;
    margin: 10px; }
    .role i {
      font-size: 20px; } }
@media (max-width: 400px) {
  .skills_skill {
    flex-direction: column; } }

/*# sourceMappingURL=style.css.map */
