@import 'reset.scss';

@mixin flexy {
  display: flex;
  justify-content: center;
  align-items: center;
}

*{
	box-sizing: border-box;
	font-family: 'Lato', sans-serif;
	text-align: center;
}
.about-me, .projects, .skills, .contact {
	display: none;
}
.main {
	opacity: 0;
} 
.bar {
	position: sticky;
	height: 10vh;
	overflow: hidden;
	top: 0;
	left: 0;
	right: 0;
	display: flex;
	align-items: center;
	background: black;
	width: 100%;
	z-index: 100;
}
.logo {
	font-size: 18px;
	margin-left: 5%;
	font-weight: bold;
	color: #fff;
}
.ham {
	display: none;
	position: absolute;
	right: 20px;
	div {
		display: block;
		margin: 6px;
		width: 30px;
		height: 3px;
		background: #fff;
	}
}
.ham:hover > div {
	background: #fd7e14;
}
.menu {
	position: absolute;
	right: 5%;
	a {
		color: #fff;
		text-decoration: none;
		margin-left: 30px;
		font-size: 18px;
		font-style: italic;
		text-transform: uppercase;
		display: inline-block;
		&:hover {
			color: #fd7e14;
			text-decoration: none;
			transform: scale(1.4);
			transition: 0.8s;
		}
	}
}
#person {
	background: url('../images/comp.jpg') no-repeat center center / cover fixed;
	color: #fff;
	position: relative;
	min-height: 600px;
	.my {
		position: relative;
		z-index: 2;
		text-align: center;
		.name {
			position: relative;
			top: 120px;
			font-size: 85px;
			font-weight: bold;
			padding-left: 40px;
			padding-right: 40px;
		}
		.job {
			position: relative;
			top: 150px;
			color: #fd7e14;
			font-size: 24px;
			letter-spacing: 2;
		}
		.cv {
			position: relative;
			top: 220px
		}
		#click {
			position: relative;
			top: 220px;
			width: 200px;
			height: 50px;
			border-radius: 20px !important;
			background: #fff;
			border: none;
			&:hover {
				background: #fd7e14;
			}
			&:focus, &:active {
				border: none !important;
				outline: none !important;
			}
		}
	}
	&:after {
		content:"";
		height: 100%;
		width: 100%;
		background: black;
		opacity: 0.8;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 1;
	}
}
#click:hover a {
	color: #fff !important;
}
#click a {
	font-size: 30px;
	font-weight: bold;
	color: black;
}
#click a:hover {
	color: #fff !important;
	text-decoration: none;
}

//============================== about me
.about {
	@include flexy;
	flex-direction: column;
	.picture {
		max-width: 360px;
		margin-bottom: 40px;
		img {
			border-radius: 50%;
		}
	}
	.line {
		display: block;
		width: 100px;
		background:  #fd7e14;
		height: 3px;
	}
}
.paragraph {
	font-family: 'Bangers';
	font-size: 20px;
	text-align: left;
	margin-bottom: 40px;
	padding-top: 20px;
}
.social-media {
	@include flexy;
	margin: 50px auto;
	a {
		@include flexy;
		width: 50px;
		height: 50px;
		text-decoration: none;
		position: relative;
		margin: 0 20px;
		color: #fff;
		border-radius: 5px;
		i {
			font-size: 30px;
			transition: all 0.2s ease-in;
		}
		&:before {
			content: "";
			width: 60px;
			height: 60px;
			background: linear-gradient(135deg, #fd7e14, #fda45a);
			border-radius: 50%;
			position: absolute;
			z-index: -1;
			transition: all 0.2s ease-in;
		}
	}
}
.social-media a:hover {
	text-decoration: none;
	color: #fd7e14;
}
.social-media a:hover:before {
	transform: scale(0);
}
.social-media a:hover i {
	background: linear-gradient(135deg, #fd7e14, #fda45a);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	transform: scale(2);
}

//================================== projekty

#projects {
	background: #0E0E0E;
	padding-bottom: 100px;
	padding-top: 50px;
	.container {
		margin-top: 60px;
	}
	.title {
		color: #fff;
		margin-bottom: 60px !important;
	}
	.pocket:hover .layer {
		opacity: 0.9;
	}
	.pocket {
		position: relative;
		margin: 0 auto;
	}
	.layer {
		@include flexy;
		position: absolute;
		background: black;
		opacity: 0;
		width: 100%;
		flex-direction: column;
		font-size: 30px;
		color: #fff;
		top: 0;
		bottom: 0;
		left: 0;
		-webkit-box-shadow: 0px 0px 41px 11px rgba(255,255,255,0.75);
		-moz-box-shadow: 0px 0px 41px 11px rgba(255,255,255,0.75);
		box-shadow: 0px 0px 41px 11px rgba(255,255,255,0.75);
		.on-img {
			font-weight: 500;
			background: transparent;
			text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #fd7e14, 0 0 30px #fd7e14, 0 0 40px #fd7e14, 0 0 55px #fd7e14, 0 0 75px #fd7e14;
		}
		.tech {
			font-size: 12px;
		}
	}
}

.fadeIn {
	.git-a {
		@include flexy;
		padding: 5px 10px;;
		border-radius: 5px;
		margin: 15px auto;
		font-size: 20px;
		background: #fff;
		width: 120px;
		height: 40px;
		color: #0066CC;
		&:hover {
			color: #0066CC;
			text-decoration: none;
		}
		i {
			font-size: 30px;
			margin-right: 15px;
		}
	}
	p {
		color: #fff;
		font-size: 20px;
	}
}

// ========================= skills
#skills {
	padding-bottom: 50px;
	p {
		color: black !important;
	}
}
.skill {
	@include flexy;
	margin-bottom: 20px;
	span {
		margin-left: 40px;
		margin-right: 40px;
		p {
			font-style: italic;
		}
	}
	i {
		font-size: 70px;
		margin-bottom: 20px;
	}
}
h2 {
	margin-bottom: 40px !important;
	color: #fd7e14;
}

//============================ contact
#contact {
	background: url('../images/tlo.jpg') no-repeat center center / cover;
	z-index: 2;
	position: relative;
	min-height: 1200px;
	padding-top: 300px;
	&:after {
		content:"";
		height: 100%;
		width: 100%;
		background: black;
		opacity: 0.4;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 1;
	}
	.col {
		z-index: 2 !important;
	}
}
.title {
	color: #fff;
	text-align: center;
	font-size: 50px;
	font-weight: bold;
	margin-top: 50px !important;
	margin-bottom: 60px;
	font-style: italic;
}
.what {
	font-size: 25px;
	text-align: left;
	color: #fff;
	margin-left: 10%;
}
input {
	padding-left: 15px;
	height: 35px;
}
input, textarea {
	width: 80%;
	padding-left: 10px;
	margin-bottom: 20px !important;
	border-radius: 5px;
	text-align: left;
}
textarea {
	min-height: 100px;
	padding-top: 5px;
}
input:active, input:focus, textarea:focus, textarea:active{
	outline: none;
}
.contact-btn {
	border: none;
	font-weight: bold;
	border-radius: 5px;
	outline: none;
	width: 180px;
	height: 50px;
	margin-bottom: 80px;
	color: #fff;
	background: #fd7e14;
	margin-top: 15px;
	font-size: 22px;
	&:hover {
		transform: scale(1.2);
		transition: 0.5s;
	}
}
.media {
	@include flexy;
}
.role {
	border-radius: 50%;
	height: 60px;
	width: 60px;
	border: 2px solid white;
	@include flexy;
	margin: 20px;
	a {
		display: block;
		text-decoration: none;
		i {
			font-size: 28px;
		}
	}
}
.role:hover {
	background: #fd7e14;
	transform: scale(1.2);
}
.role:hover a i {
	color: #fff;
}
.end {
	width: 100%;
	background: black;
	color: #fff;
	display: block;
	font-size: 20px;
	text-align: center;	
	z-index: 2;
	padding: 20px;
} 

/*==================== MEDIA =======================*/
@media (min-width: 768px) and (max-width: 992px) {
	.on-img {
		font-size: 15px;
	}
	.tech {
		font-size: 10px;
	}
}

@media (min-width: 768px) and (max-width: 992px) {
	.on-img {
		font-size: 15px;
	}
	.tech {
		font-size: 10px;
	}
}

@media (max-width: 800px) and (min-width: 550px){
	.name {
		font-size: 70px !important;
	}
	.job {
		font-size: 22px !important;
	}
}
@media (min-width: 590px) {
	.pocket:hover {
		transform: scale(1.1);
		transition: 0.5s;
	}
}

@media only screen and (max-width: 768px) {
	.bar {
		overflow: visible;
	}
	.menu {
		width: 100%;
		right: 0;
		top: 10vh;
		overflow: hidden;
		max-height: 0;
		transition: all 0.2s ease-out;
		a {
			display: block;
			text-align: center;
			padding: 10px;
			margin: 0;
			background: #2c2c2c;
		}
	}
	.ham {
		display: inline-block;
		cursor: pointer;
	}
	.show {
		max-height: 500px;
		transition: all 1s ease-in-out;
	}
	#projects {
		.col-md-4 {
			margin-top: 40px;
		}
	}
}

@media (max-width: 550px) {
	.name {
		font-size: 60px !important;
	}
	.job {
		font-size: 20px !important
	}
	#click {
		width: 160px !important;
	}
	#contact {
		a {
			font-size: 15px;
		}
	}
	.end {
		font-size: 18px;
	}
}
@media (max-width: 400px) {
	.name {
		font-size: 45px !important;
	}
	.job {
		font-size: 20px;
	}
	#contact {
		a {
			font-size: 14px;
		}
	}
	footer {
		font-size: 20px;
	}
	.social-media {
		a {
			width: 40px;
			height: 40px;
			i {
				font-size: px;
			}
			&:before {
				width: 50px;
				height: 50px;
			}
		}
	}
	.role {
		width: 48px;
		height: 48px;
		margin: 10px;
		i {
			font-size: 20px;
		}
	}
	.skill {
		flex-direction: column !important;
		i {
			font-size: 40px;
		}
		span {
			margin-left: 10px;
			margin-right: 10px;
			;
		}
	}
}
@media (max-width: 600px) {
	.skill {
		i {
			font-size: 50px;
		}
		span {
			margin-left: 20px;
			margin-right: 20px;
		}
	}
}






































